numpy
scipy
diffusers==0.29.1
transformers
accelerate
rembg
trimesh
opencv-contrib-python
tqdm
wandb
bpy==3.6.0
bpy-helper
gradio
simple_parsing
einops
imageio[ffmpeg]
git+https://github.com/naver/croco/#subdirectory=models/curope
git+https://github.com/iamNCJ/dust3r.git
