numpy==2.0.1
scipy==1.15.1
diffusers==0.29.1
transformers==4.48.2
accelerate==1.3.0
rembg[cpu]==2.0.62
trimesh==4.6.1
opencv-contrib-python==4.11.0.86
tqdm==4.67.1
bpy==3.6.0
bpy-helper==0.0.5
gradio==5.14.0
simple_parsing==0.1.7
einops==0.8.0
imageio[ffmpeg]==2.37.0
git+https://github.com/naver/croco/#subdirectory=models/curope
git+https://github.com/iamNCJ/dust3r.git
